body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
}

.schedule__time {
    display: inline-block;
    cursor: pointer;
}

.schedule__time--disabled {
    cursor: inherit;
    color: rgba(100, 100, 100, 0.3);
}

.form-register__label {
    display: block;
}

.form-register input {
    width: 20em;
    height: 2em;
}

.form-register textarea {
    width: 20em;
    height: 4em;
}

.error-text {
    color: orange;
    font-size: 1.5em;
}